{% extends "base.html" %}
{% block content %}
    <div class="row">

        <div class="d-flex flex-column align-items-stretch flex-shrink-0" style="width: 860px;">
            <img src="/static/images/Untitled-1.jpg"
                 style="width:100%" alt=""><br>
        </div>

        {% if current_user.is_authenticated == false %}
            <aside class="col-4">
                <h2>Login</h2>
                <form action="{{ url_for('auth.login') }}" method=post>
                    <dl>
                        {{ form.csrf_token }}
                        {{ render_field(form.email) }}
                        {{ render_field(form.password) }}
                    </dl>
                    <p><input type=submit value=Login>
                </form>
            </aside>
        {% endif %}

    </div>
{% endblock %}
</article>
